/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  /*===== Colors =====*/
  --first-color: #3E0E12;
  --first-color-dark: #2F0A0D;
  --text-color: #524748;
  --first-color-light: #7B6F71;
  --first-color-lighten: #FBF9F9;
  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
  background-color: black;
}

h1, h2, h3, ul, p {
  margin: 0;
}

h2, h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;


}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS =====*/
.section {
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  font-size: var(-smaller-font-size);
  font-weight: var(--font-semi-bold);
}

/*===== LAYOUT =====*/
.bd-container {
  max-width: 1024px;
  width: calc(100%-2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);

}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: black;
  box-shadow: 0 2px 0 var(--first-color-light);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    background-color: black;
    transition: .4s;
    box-shadow: 0 2px 4px var(--first-color-light);
    border-radius: 0 0 1rem 1rem;
  }
}

.nav_item {
  margin-bottom: var(--mb-3);
}

.nav_link {
  color: var(--first-color-lighten);
  transition: .3s
}

.nav_link:hover {
  color: var(--first-color-light);
}

.nav-logo, .nav-toggle {
  color: var(--first-color-lighten);
}


.nav_toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: var(--header-height);
}

/* Active menu */
.active-link {
  position: relative;
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 65%;
  height: 3px;
  border-color: var(--first-color-light);
}

/* Change background header */
.scroll-header {
  border-color: var(--first-color-lighten);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scroll-header .nav_logo, .scroll-header .nav_toggle, .scroll-header .nav_link {
  color: var(--first-color-dark);
}

.scroll-header .nav_menu {
  background-color: var(--first-color-lighten);
}

/*===== SCROLL TOP =====*/
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  background: rgba(123, 111, 113, 0.7);
  border-radius: .5rem;
  z-index: var(--z-tooltip);
  transition: .3s;
  visibility:hidden;
}

.scrolltop:hover {
  background-color: var(--first-color);
}

.scrolltop_icon{
  font-size:2rem;
  color: var(--first-color-lighten);
}

/* Show scroll top */
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}
/*===== HOME =====*/
.home{

  color: white;
  overflow: hidden;
}

.home-container{
  position:relative;
  height:calc(100vh - var(--header-height));
  grid-template-rows: repeat(2,max-content);
  align-content:space-around;
  row-gap:2rem;
}

.home-data{
  border-left: 4px solid var(--first-color-lighten);
  color:var(--first-color-lighten);
  padding-left: 1.5rem;
  z-index:var(--z-tooltip);
}

.home_name{
  font-size:var(--biggest-font-size);
}

.home_greeting, .home_profession{
  display:block;
  font-weight:var(--font-bold);
}

.home_greeting{
  font-size: .813rem;
}

.home_profession{
  font-size: .938rem;
  margin-bottom: var(--mb-3);
}

.home_img{
  position: absolute;
  right: 0;
  bottom:0;
}

.home_img img{
  width: 240px;
}

.home-social{
  display: flex;
  flex-direction: column;
}
.home-social-icon{
  width:max-content;
  font-size:1.3rem;
  margin-bottom: var(--mb-3);
  color: var(--first-color-lighten);
}

.home-social-icon:hover{
  color:var(--first-color-light);
}
/*BUTTONS*/
.button{
  display:inline-block;
  border-color: var(--first-color);
  color:var(--first-color);
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  transition:.3s;
}

.button:hover{
  background-color: var(--first-color-dark);
}

.button-light{
  background-color:var(--first-color-light);
}
/*===== ABOUT =====*/
/*===== QUALIFICATION =====*/
/*===== SERVICES =====*/
/*===== PROJECT IN MIND =====*/
/*===== PORTFOLIO =====*/
/* Active menu portfolio*/
/*===== TESTIMONIAL =====*/
/*===== CONTACTME =====*/
/*===== FOOTER =====*/
/*===== MEDIA QUERIES =====*/
